{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}! You can deploy the smart contract now</h1>
    <script type="text/javascript" src="{{ url_for('static', filename='js/web3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/deploy.js') }}"></script>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.txHash.label}}<br>
            {{ form.txHash(size=32, readonly=true) }}<br>
            {% for error in form.txHash.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contractAddress.label }}<br>
            {{ form.contractAddress(size=32, readonly=true) }}<br>
            {% for error in form.contractAddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div id="deployStatus">
        Deploying....
    </div>
    
{% endblock %}