{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}! You can verify the smart contract now</h1>
    <script type="text/javascript" src="{{ url_for('static', filename='js/web3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bignumber.min.js') }}"></script>


    <div id="contractAddress">
        {{contractAddress}}
    </div>
    <div id="txHash">
        Deployment transaction hash is : {{txHash}}
    </div>

    <div id="verificationTxHash">
        Sending verification transaction...
    </div>

    <div id="verificationStatus">
        Not verified yet
    </div>

    <button onclick="location.href='/'" type="button">
        Go back home
    </button>

    <script type="text/javascript" src="{{ url_for('static', filename='js/verify.js') }}"></script>
    
{% endblock %}